<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ListView</title>
</head>
<body>
  <form method="POST" action="@[/ListView]"th:object="$[ListForm]">
  	<table border="1">
  	<tr>
  		<th>商品ID</th>
  		<th>商品名</th>
  		<th>値段(円)</th>
  		<th>数量</th>
  	</tr>

  	<tr>
  		<td><input type ="text" th:field="*[itemid]">1</td>
  		<td>リンゴ</td>
  		<td>120</td>
  		<td><input type="text"th:field="*[num]" min="0" value="0"></td>
  	</tr>
  </table>

  <p>注文内容を確定</p>
  <input type="submit"value="注文">

  </form>
</body>
</html>